h1{
    
    font-size: 2.125rem;
    color: #00b39b;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease;

    

}

.menu-header{
    display: flex;
    justify-content: space-between;
    margin: 0px 140px;
    padding-top: 10px;
}
.logo-docplanner {
    width: 268px;
    height: 33px;
}
.dropdown{
    padding-bottom: 15px;
}
.dropdown-content{
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 211px;
    
    background: #ffffff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    margin-top: 15px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content li a{
    text-decoration-line: none !important;
    color: #747474;
    line-height: 120%;
  
 
}
.dropdown-content li{
    list-style-type: none;
    padding: 12px 16px!important;
}.dropdown-content ul{
    margin: 0;
    padding-left: 0px;
}
.section{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.logo-docplanner {
    width: 268px;
    height: 33px;
}
h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
}
body{
    padding-top: 93px;
    margin: 0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
  }
.attach-header{
    list-style-type:none;
    display: flex;
}
.attach-header li{
    padding-right: 10px;
    color: #ababab;
}
.attach-header {
    color: #00b39b;
}
.attach-header li:hover{
    color: #00b39b;
}
.lead__logo{
    display: block;
    margin: 0 50%;
}
.first-section{
    
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-section h1 {
    text-align: center;
    color: #00b39b;
    font-size: 30px;
}
.article{
    display: flex;
    justify-content: space-between;
}
.col{
    padding: 10px 20px;
}
.col p{
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 400;
}
.bloc1{
    display: flex;
}
.bloc1 .servis-screen{
    margin: 0px !important;
} 
.service-section{
    display: flex;
}
.col-servis1{
    background: #00b39b;
    color: #fff;
    text-shadow: none;
    width: 50%;
  
    border-radius: 5px;
    margin: 10px;
}
.servis1-cont{
    border-radius: 10px;
    padding: 1.375em 2.5em 0;
    overflow: hidden;
}
#servis-button{
    background: #fff;
    border: 0;
    border-radius: 5px;
    
    height: 40px;
    text-transform: uppercase;
    outline: 0;
    padding: 0px 24px 0px 10px;
    
}
.nav-item-carrot{
    height: 6px;
    color: #000;
  }
.servis-screen{
    width: 100%;
    margin-left: 28%;
    margin-top: -2.3em;
}
.servis1-cont h2{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.servis1-cont h1{
    font-size: 1.625em;
    color: #fff;
    margin-top: .3em;
}
.servis-screen img{
    width: 485px;
}
.col-servis{
    background: #3d83df;
    color: #fff;
    text-shadow: none;
    width: 50%;
    
    border-radius: 5px;
    margin: 10px 93px 10px 10px;
}
.servis1-cont .servis-screen{
    margin-top: 20px;
}
.brand-section{
    display: flex;
    margin: 2.5rem auto 3.125rem;
}
.brand-logo{
    display: flex;
    flex-wrap: wrap;
    float: left;
    font-size: 0;
    width: 67%;
    margin-top: 10px;
    list-style: none;
}
.brand-section h1{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    padding-right: 1em;
    color: #00b39b;
}
.brand-section a svg{
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}
.brand-logo a path{
    fill: hsla(0,0%,67%,.7);
}
.brand-logo a:hover path{
    fill:#00bfa5;
}
.brand-logo li{
    font-size: 1rem;
  
    width: 168px;
    padding: 5px 0;
}
.star{
    content: "";
    position: absolute;
    right: 21%;
    top: 45%;
    background: url(https://www.docplanner.com/img/logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
}
.plat-section{
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;

}
.stats-item{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    height: 200px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
}
.stats-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.element{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.stats-item{
    min-height: 1px;
    padding: 10px;
}
.stats-item p{
    width: 150px;
}
.box-item{
    margin: 14px;
}
.plat-section{
    display: flex;
    justify-content: center;    

}
/* .cel1{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.c1{
    margin-top: 0px;
}
.width-section{
    display: flex;
    width: 80%;
}
.offices-section{
    margin-bottom: 5rem;
}
.offices-header{
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}
.btn--small {
    font-size: .625rem;
    padding: 1em 1.5em;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}
.office-desc .btn {
    float: right;
}
.office-desc{
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
}
.slider-item a{
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    display: block;
    color: #747474;
    text-decoration-line: none;
}
figure{
    margin: 0;
}
.offices-sliders{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5.5rem; */
    /* margin-bottom: 5rem; */
    margin: auto 5rem;
}
.slider-item{
    padding: 10px;
}
.slider-item:hover{
   box-shadow:  0 23px 16px 0 #d3d3d6;
}
.main-footer{
    border-top: 1px solid #eef2f2; 
    font-size: .75em;
    color: #ababab;
    text-align: center;
    padding: 1em 0;
}
.footer-container p a{
    font-size: 10px;
}